li {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery-js {
  display: flex;
  justify-content: space-around;
}
.gallery-js img {
  width: 200px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
