.banner-list {
  @include center-flex('all');
  flex-direction: column;
  margin: 0;
  padding: 0;
  &__title {
    margin: 0;
    margin-bottom: 124px;
    &--kaushan{
        font-size: 72px;
        color: $main-white-color;
        text-transform: capitalize;    
      }
    &--montserrat {
        font-size: 150px;
        color: $main-white-color;
        font-weight: bold; 
      }
  }
  &__button {
    @extend %button;
    background: transparent;
    font-size: 14px;
    font-family: $main-font-stack;
    color: $main-white-color;
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 3px;
    border-color: $main-white-color;
    width: 152px;
    height: 32px;
  }
}
