img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.relative {
    position: relative;
}
span {
    display: block;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.top_section {
    background-color: rgb(26, 25, 21);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.registration {
    font-family: Montserrat, sans-serif;
}
.registration button {
    width: 86px;
    height: 32px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
}
.log_in {
    border: none;
}
.sign_up {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
}
.logo {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 20px;
}
.top_section p {
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}
.top_section .button_size {
    border: none;
    background-color: rgb(255, 78, 80);
    color: rgb(255, 255, 255);
}
.button_size {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
}
h2 {
    color: rgb(51, 51, 51);
    font-family: Montserrat;
    font-size: 22px;
    text-align: center;
}
.holiday_partners h3 {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: center;
}
.holiday_partners p {
    color: rgb(102, 102, 102);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
}
.before {
    width: 121px;
    margin: 0 auto;
}
.before::before {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-position: center;
    background-repeat: no-repeat;
}
.tele::before {
    background-image: url(../icons/tele.png);
    background-color: rgb(255, 78, 80);
}
.tube::before {
    background-image: url(../icons/tube.png);
    background-color: rgb(255, 165, 7);
}
.coffee::before {
    background-image: url(../icons/coffee.png);
    background-color: rgb(28, 215, 173);
}
.plane::before {
    background-image: url(../icons/plane.png);
    background-color: rgb(78, 115, 219);
}
.bottom_section button {
    border: 2px solid rgb(255, 78, 80);
    color: rgb(255, 78, 80);
    background-color: rgb(255, 255, 255);
}
button {
    cursor: pointer;
}